/* ZRS THEME */

@import "fonts.css";

.reveal .backgrounds .slide-background:first-child video {
  
  filter: opacity(.6) grayscale(100%);
  
}

.reveal .backgrounds .slide-background:first-child {
  
  background-color: #000;
  
}

.reveal .title {
  
  font-family: Roboto;
  font-weight: 600;
  font-size: 3.5rem;
  color: #fff;
  letter-spacing: 0.2em;
  text-shadow: 0 0 5px #111;
  
}

.reveal .title:after {
 
  content: "© Martin Schumacher air-view®, https://vimeo.com/125155349";
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 7px;
  font-stretch: normal;
  font-size: 0.6rem;
  letter-spacing: 0.15rem;
  font-weight: 200;
  
}

.reveal .subtitle {
  
  font-family: Roboto;
  font-weight: 400;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 0.2em;
  text-shadow: 0 0 5px #111;
  
}

.reveal .author {
  
  font-family: Roboto;
  font-weight: 100;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 10px #111;

}

.reveal .date {
  
  font-family: Roboto;
  font-weight: 100;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 10px #111;
  
}

html, body, .reveal div, .reveal span, .reveal applet, .reveal object, .reveal iframe, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p, .reveal blockquote, .reveal pre, .reveal a, .reveal abbr, .reveal acronym, .reveal address, .reveal big, .reveal cite, .reveal code, .reveal del, .reveal dfn, .reveal em, .reveal img, .reveal ins, .reveal kbd, .reveal q, .reveal s, .reveal samp, .reveal small, .reveal strike, .reveal strong, .reveal sub, .reveal sup, .reveal tt, .reveal var, .reveal b, .reveal u, .reveal center, .reveal dl, .reveal dt, .reveal dd, .reveal ol, .reveal ul, .reveal li, .reveal fieldset, .reveal form, .reveal label, .reveal legend, .reveal table, .reveal caption, .reveal tbody, .reveal tfoot, .reveal thead, .reveal tr, .reveal th, .reveal td, .reveal article, .reveal aside, .reveal canvas, .reveal details, .reveal embed, .reveal figure, .reveal figcaption, .reveal footer, .reveal header, .reveal hgroup, .reveal menu, .reveal nav, .reveal output, .reveal ruby, .reveal section, .reveal summary, .reveal time, .reveal mark, .reveal audio, .reveal video {
  
  font-family: Roboto;
  
}

.reveal .sourceCode {
  
  box-shadow: none;
  
}

.reveal .sourceCode, .reveal .sourceCode code a, .reveal .sourceCode code a span {
  
  font-family: "Fura Code";
  
}

.reveal blockquote {
  
  box-shadow: none;
  
}

.reveal blockquote p {
  
  font-family: "Roboto Slab";
  text-align: justify;
  font-style: normal;
   -ms-word-break: break-all;
   word-break: break-all;
   word-break: break-word;
   -webkit-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
  
}

.reveal blockquote p:last-child {
 
 font-family: Roboto;
 font-variant: small-caps;
 font-size: 2rem;
 font-weight: 300;
 text-align: right;
 width: 100%;
  
}

.reveal section img {
  
  border: none;
  box-shadow: none;
  
}

.reveal .icon {
  
  font-family: "Font Awesome";
  
}

.reveal table, .reveal table th, .reveal table td {
  
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  
}

.reveal thead {

    border-bottom: 3px solid #000;
    
}

.reveal caption {
  
  text-align: left;
  padding-bottom: 0.5em;
  
}

.reveal caption:before {
  
  content: "Tabelle: ";
  font-weight: bolder;
  
}

/* TOOLS */

.hide-heading h1, .hide-heading h2 {
  
  display: none;
  
}

.highlight-quote blockquote {
  
  background-color: #fff;
  background-color: rgba(255,255,255,0.8);
  
}

.heading-shadow h1 {
  
  color: #fff;
  text-shadow: 0 0 10px #111;
  
}

.text-sc {
  
  font-variant: small-caps !important;
  
}

/* SPECIFIC SETTINGS */

.zrs-frage h2 {

  font-size: 5em;

}

.zrs-frage p {

  font-size: 1.5em;
  
}

#contact h2 {

  font-weight: 300;
  
}

#contact p {

  font-weight: 200;
  
}

#quellen ul {

  font-size: 1.5rem;
  
}